:root {
  --primary-0: #797979;
  --primary-1: #474b57;
  --primary-2: #23262f;
  --primary-4: #ededed;

  --secondary-1: #396a65;
  --secondary-2: #79dde8;
  --secondary-3: #ef8d65;
}

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
